{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-non-null-assertion":"off"
    }
}